# Plotting support for the built-in simulation statistics
matplotlib
streamlit

# Simulation support
salabim
greenlet

# Test support
pytest

# ... 3D animation support
pyopengl
pyopengl_accelerate

# ... OBJ Wavefront support
pywavefront
pyglet

# ... Video production support
opencv-python
numpy
